
body {
    background-color: lightgray;
    background-image: url("https://kartinkin.net/uploads/posts/2021-07/1626768372_33-kartinkin-com-p-temno-serii-fon-gradient-krasivo-34.jpg");
    color:white;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}

#result{
    color: #4169E1;
    font-size: 20px;
}

.content{
    text-align: left;
}

#form_url_name{
    width:100% ;
    padding: 5px 0px ;
}
.wrapper{
    width: 30%;
    display: block;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

button{
    border-radius: 5px;
}
